html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Times, serif;
    font-variant: small-caps;
    margin: 0;
    color: white;
    position: relative;
}

h1 {
    font-size: 40px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
}

li {
    display: inline;
}

li a {
    color:lightgrey;
    padding: 2px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px 15px 15px;
    text-align: center;
}
